.container {
  @media screen and (min-width: 576.98px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 45px;
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (min-width: 1490px) {
    padding-top: 120px;
    padding-bottom: 90px;
    padding-left: 160px;
    padding-right: 160px;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
