a {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: $green;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  border-bottom: 1px dashed transparent;

  letter-spacing: 0.01em;
  &.-angle {
    &:after {
      content: "";
      display: inline-block;
      width: 6px;
      height: 9px;
      margin-left: 5px;
      background: url("../img/icons/arrow-green-right.svg") no-repeat center center;
      background-size: contain;
    }
  }
}
